{%extends 'base.html' %}
<style>
    /* Garante que a barra de rolagem esteja sempre disponível */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: auto; /* Garante a barra de rolagem vertical */
    }

    .container {
        margin: 0 auto;
        padding: 20px;
    }

    .p-4 {
        overflow-y: auto; /* Ativa rolagem interna se necessário */
    }
</style>
{% block body %}
<div class="container">
    <div class="panel">
        <h2>Painel Administrativo</h2>
        <a href="https://app.powerbi.com/view?r=eyJrIjoiZDA3OTkyYWItOWVkYS00MTA4LWI2NDgtZjkxNTFjMzk1YTdmIiwidCI6ImQ5NDAwNGQ1LWIxYzEtNGU0NS1hMjQyLThkMmU4M2ZjNjcxZSJ9" target="_blank">Abrir Painel em Nova Aba</a>
        <iframe title="Administrador" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZDA3OTkyYWItOWVkYS00MTA4LWI2NDgtZjkxNTFjMzk1YTdmIiwidCI6ImQ5NDAwNGQ1LWIxYzEtNGU0NS1hMjQyLThkMmU4M2ZjNjcxZSJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        padding-top: 20px; /* Espaçamento superior */
    }

    .panel {
        text-align: center; /* Centraliza o conteúdo do painel (título e link) */
    }

    iframe {
        max-width: 100%; /* Responsividade */
        width: 1500px; /* Largura fixa para telas maiores */
        height: 700px; /* Altura do iframe */
    }
</style>
{% endblock %}
