{%extends 'base.html' %}

{% block body%}
<div class="container">
        <div class="panel">
            <h2>Painel Financeiror</h2>
            <a href="https://app.powerbi.com/reportEmbed?reportId=7a7d29d3-3088-4e46-869d-1930d9824bc9&autoAuth=true&ctid=4d4408cc-5a55-41f8-9dba-317adfe22cf6" target="_blank">Abrir Painel em Nova Aba</a>
            <iframe title="PAINEL_SECID_PROTOTIPO" width="1500" height="700" src="https://app.powerbi.com/reportEmbed?reportId=7a7d29d3-3088-4e46-869d-1930d9824bc9&autoAuth=true&ctid=4d4408cc-5a55-41f8-9dba-317adfe22cf6" frameborder="0" allowFullScreen="true"></iframe>
        </div>
{% endblock %}
