{%extends 'base.html' %}

{% block body%}
<div class="container">
        <div class="panel">
            <h2>Painel Financeiror</h2>
            <a href="https://app.powerbi.com/view?r=eyJrIjoiZTcxM2ExN2QtYTJmMC00ZmE0LTgyZTEtN2QyYWFmMDNkMmM5IiwidCI6ImQ5NDAwNGQ1LWIxYzEtNGU0NS1hMjQyLThkMmU4M2ZjNjcxZSJ9" target="_blank">Abrir Painel em Nova Aba</a>
            <iframe title="PAINEL_SECID_PROTOTIPO" width="1500" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZTcxM2ExN2QtYTJmMC00ZmE0LTgyZTEtN2QyYWFmMDNkMmM5IiwidCI6ImQ5NDAwNGQ1LWIxYzEtNGU0NS1hMjQyLThkMmU4M2ZjNjcxZSJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
{% endblock %}
