{%extends 'base.html' %}
<style>
    /* Garante que a barra de rolagem esteja sempre disponível */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: auto; /* Garante a barra de rolagem vertical */
    }

    .container {
        margin: 0 auto;
        padding: 20px;
    }

    .p-4 {
        overflow-y: auto; /* Ativa rolagem interna se necessário */
    }
</style>
{% block body%}
<div class="container">
    <div class="panel">
        <h2 style="background: rgba(255, 255, 255, 0.85); 
           border: 1px solid rgba(255, 255, 255, 0.1); 
           border-radius: 8px; 
           padding: 10px; 
           text-align: center;">
            Painel do Gestor
        </h2>
        <a href="https://app.powerbi.com/view?r=eyJrIjoiYjkwZjQ5YmQtMzAxNC00NjI3LTgxMDctZmNkZjllZGZmZmM3IiwidCI6ImQ5NDAwNGQ1LWIxYzEtNGU0NS1hMjQyLThkMmU4M2ZjNjcxZSJ9" target="_blank">Abrir Painel em Nova Aba</a>
        <iframe title="GESTOR" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiYjkwZjQ5YmQtMzAxNC00NjI3LTgxMDctZmNkZjllZGZmZmM3IiwidCI6ImQ5NDAwNGQ1LWIxYzEtNGU0NS1hMjQyLThkMmU4M2ZjNjcxZSJ9" frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>

<style>
    .container {
        display: flex;
        justify-content: center; /* Centraliza horizontalmente */
        padding-top: 20px; /* Adiciona espaçamento superior, se necessário */
    }

    .panel {
        text-align: center;
    }

    iframe {
        max-width: 100%;
        height: auto;
        width: 1500px;
        height: 700px;
    }
</style>
{% endblock %}
