{%extends 'base.html' %}
<style>
    /* Garante que a barra de rolagem esteja sempre disponível */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: auto; /* Garante a barra de rolagem vertical */
    }

    .container {
        margin: 0 auto;
        padding: 20px;
    }

    .p-4 {
        overflow-y: auto; /* Ativa rolagem interna se necessário */
    }
</style>
{% block body%}
<div class="container">

        <h1>Faça Login ou Crie seu Conta</h1>

    <hr>
    <div class ="row">
        <div class="col">
            <form method="POST" action="" class="border p-5 m-2">
            {{form_login.csrf_token }}
            <legend> Login </legend>
            <fieldset>
            <div class="form-group">


            {{ form_login.email.label(class="form-control-label") }}

                {%if form_login.email.errors%}
                    {{ form_login.email(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {% for erro in form_login.email.errors %}
                        {{ erro }}
                    {% endfor %}
                </div>
                {% else %}
                    {{ form_login.email(class="form-control") }}
                {% endif %}


            </div>
            <div class="form-group">

            {{ form_login.senha.label(class="form-control-label") }}

                {%if form_login.senha.errors%}
                    {{ form_login.senha(class="form-control is-invalid") }}
                <div class="invalid-feedback">
                    {%for erro in form_login.senha.errors%}
                        {{erro}}
                    {% endfor %}
                </div>
                {%else%}
                    {{ form_login.senha(class="form-control") }}
                {% endif %}

            </div>
            <div class="form-group">

            {{ form_login.lembrar_dados.label(class="form-check-label") }}
            {{ form_login.lembrar_dados(class="form-check-input") }}
            </div>
            </fieldset>
            {{ form_login.botao_submit_login(class="btn btn-primary mt-3") }}
            </form>
            <p class="mt-3">Não tem conta? <a  href="{{ url_for ('criarconta')}}" class="link">Crie agora</a></p>
        </div>
    </div>

</div>

{% endblock %}
