 {% extends "base.html" %}
 {% block body %}
 <div class="container">
     <h1>Medições da Obra: {{ obra.nome }}</h1>
     <table class="table">
         <thead>
             <tr>
                 <th>ID</th>
                 <th>Data</th>
                 <th>Valor</th>
                 <th>Ações</th>
             </tr>
         </thead>
         <tbody>
             {% for medicao in medicoes %}
             <tr>
                 <td>{{ medicao.id }}</td>
                 <td>{{ medicao.data }}</td>
                 <td>{{ medicao.valor }}</td>
                 <td>
                     <a href="{{ url_for('editar_medicao', id=medicao.id) }}" class="btn btn-warning btn-sm">Editar</a>
                 </td>
             </tr>
             {% endfor %}
         </tbody>
     </table>
 </div>
 {% endblock %}
