{% extends 'base.html' %}
<style>
    /* Garante que a barra de rolagem esteja sempre disponível */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: auto; /* Garante a barra de rolagem vertical */
    }

    .container {
        margin: 0 auto;
        padding: 20px;
    }

    .p-4 {
        overflow-y: auto; /* Ativa rolagem interna se necessário */
    }
</style>
{% block body %}
<div class="container mt-5">
    <h1 class="text-center">Selecione um Projeto</h1>
    <hr>
    <form action="/usuario/medicao2" method="POST" class="mt-4">
        <div class="form-group">
            <label for="projeto_nome">Projeto:</label>
            <select name="projeto_nome" id="projeto_nome" class="form-control">
                {% for projeto in projetos %}
                    <option value="{{ projeto.projeto_nome }}">{{ projeto.projeto_nome }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
    </form>
</div>
{% endblock %}
