{%extends 'base.html' %}
<style>
    /* Garante que a barra de rolagem esteja sempre disponível */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: auto; /* Garante a barra de rolagem vertical */
    }

    .container {
        margin: 0 auto;
        padding: 20px;
    }

    .p-4 {
        overflow-y: auto; /* Ativa rolagem interna se necessário */
    }
</style>
{% block body%}
<div class="container">
        <div class="panel">
            <h2>Painel Administrativo</h2>
            <a href="https://app.powerbi.com/view?r=eyJrIjoiZjA4Y2I3NmItMzViZS00MDU5LThkNjQtMTBkYzhlZDI2YzRkIiwidCI6ImQ5NDAwNGQ1LWIxYzEtNGU0NS1hMjQyLThkMmU4M2ZjNjcxZSJ9" target="_blank">Abrir Painel em Nova Aba</a>
            <iframe title="PAINEL_SECID_PROTOTIPO" width="1500" height="700" src="https://app.powerbi.com/view?r=eyJrIjoiZjA4Y2I3NmItMzViZS00MDU5LThkNjQtMTBkYzhlZDI2YzRkIiwidCI6ImQ5NDAwNGQ1LWIxYzEtNGU0NS1hMjQyLThkMmU4M2ZjNjcxZSJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
{% endblock %}
