{% extends "base.html" %}
<style>
    /* Garante que a barra de rolagem esteja sempre disponível */
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-y: auto; /* Garante a barra de rolagem vertical */
    }

    .container {
        margin: 0 auto;
        padding: 20px;
    }

    .p-4 {
        overflow-y: auto; /* Ativa rolagem interna se necessário */
    }
</style>
{% block body %}
<div class="container" style="background: rgba(255, 255, 255, 0.85); border: 1px solid rgba(255, 255, 255, 0.1); border-radius: 8px;">
    <h1>Selecione a Obra para Alteração</h1>
    <ul class="list-group">
        {% for obra in obras %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ obra.obra }} - {{ obra.contrato }} - {{ obra.sei }}
                <a href="{{ url_for('medicao_resumida_2_detalhes', id=obra.id) }}" class="btn btn-primary btn-sm">Selecionar</a>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
