{%extends 'base.html' %}

{% block body%}

<div class="container mt-5">
<h1>Sistema Integrado de Engenharia e Finanças Públicas</h1>
<p>O Sistema Integrado de Engenharia e Finanças Públicas (SIEFP) foi desenvolvido para centralizar, automatizar e padronizar os processos financeiros e administrativos na administração pública, trazendo melhorias significativas. Este sistema é uma resposta eficaz a desafios como a falta de padronização, a ineficiência na gestão de gastos e a falta de transparência, que historicamente dificultam a gestão fiscal eficiente.
</p>
<p>
    A peça central desta solução é um site que centraliza todas as informações fiscais e de execução de obras. O sistema conta com uma área de login que direciona cada usuário às funcionalidades necessárias, possibilita a emissão de despachos padronizados no SEI, e permite a extração de dados do SIAFE para visualização em tempo real das informações financeiras.
</p>
<p>
    Além disso, o sistema considera as intempéries que podem impactar o cronograma de uma obra, como condições climáticas adversas, atrasos logísticos, reajustes de preços de materiais e mudanças nas especificações iniciais. Esses fatores podem comprometer significativamente a execução da obra no tempo previsto, gerando a necessidade de revisões tanto no cronograma quanto no orçamento.
</p>
<p>
    A análise numérica desempenha um papel crucial nesse contexto. Ao utilizar modelos matemáticos e simulações, é possível reavaliar as condições atuais do projeto e, com isso, estimar novos prazos de execução que reflitam com maior precisão a realidade do canteiro de obras. Essa abordagem permite uma reprogramação fundamentada, que leva em conta todos os fatores externos e internos que afetam o andamento da construção.
</p>
<p>
    A solução inclui a automação do preenchimento de informações no SEI, o que reduz significativamente a carga de trabalho manual e garante que as informações sejam processadas de forma rápida e precisa. Antes da implementação desta solução, a gestão fiscal sofria com a falta de padronização e transparência, gerando ineficiências e dificultando a administração. Com este sistema integrado, esses problemas foram amplamente resolvidos, resultando em uma gestão fiscal mais eficaz e transparente.
</p>

</div>
{% endblock %}